doctype html
head
  link(rel='stylesheet' href='/css/docs.css' type='text/css')
body
  h1 Mindustry Server Dashboard Docs
  h2 All requests go to /api
  h3 New Chat Messages
  h4 POST
  h4 
  
  
  
  
  
  