doctype html

head 
  link(rel='stylesheet' href='/css/servers.css' type='text/css')
body
  div#container
    div#head-container
      h1 Refresh the page for updated results
    div#servers-container
      div#servers.scroll
        for server in cache
          div.server
            if server.name

      